body {
  text-align: center;
  background-color: #f4f4f7;
}

h1 {
  font-size: 5rem;
  color: #2cbae9;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #04dad6;

}

h2 {
  font-size: 2rem;
  color: #030303;
  font-family: "Arvo", cursive;

}

footer {
  color:  #2cbae9F3;
  font-family: sans-serif;
}


.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}



.piano {
  outline: none;
  border: 10px solid #646940;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color:  #2cbae9;
  text-shadow: 3px 0 #dbf0f3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
